html {
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  margin: 10px;
  padding: 0;
  height: 100vh;
}

p {
  font-size: 1.3rem;
}

h2 {
  border-bottom: 1px solid #00bcd4;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 20px 0;
  font-size: 1.3rem;
}

a {
  font-size: 1.2rem;
  text-decoration: none;  
  color: #00bcd4;  
  transition: color 0.3s;
}

a:hover {
  font-weight: bold;
  color: #a4f3fd;
}

button {
  background-color: blue;
  box-shadow: 0 2px 4px rgba(235, 231, 231, 0.932);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(0, 0, 56);
}

.container {
  display: flex;
  flex-direction: row;
}

.active {
  font-weight: bold;
  text-decoration: underline #00bcd4;
}

.lista {
  list-style-type: "* ";
  padding-left: 30px;
}

.listaRedesSociais {
  list-style-type: none;
  padding-left: 30px;
}

#navigation {  
  background-color: #333;
  width: 350px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(235, 231, 231, 0.932);
}

#detail {
  flex-grow: 3;
  margin-left: 20px;
  padding: 20px;
  background-color: #252526;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(235, 231, 231, 0.932);
}

#curriculo {
margin: 0 auto;
text-align: center;
margin-bottom: 30px;
width: 55%;
border-bottom: 2px solid #00bcd4;
padding-bottom: 10px;
}

#objetivo {
text-align: justify;
}

#avatar img {
  width: 30%;
  margin: 20px 0 20px 0;
  border: 1px solid #00bcd4;
}

#portifolio p {    
  margin-left: 20px  
}

#portifolio h4 {    
  color: #00bcd4;  
}

#decida img {
  width: 100%;  
  margin: 20px 20px 20px 0;
  border: 1px solid #00bcd4;
}

#decida {    
  margin-left: 20px;  
}

